project_name: MyCMakeProject
version: 1.0.0
author: Your Name

directories:
  src:
    utils:
      - description: Utility functions
        math:
          - description: Mathematical utilities
        string:
          - description: String manipulation utilities
  tests:
    unit_tests:
      - description: Unit tests for the project
        utils_tests:
          - description: Tests for utility functions
  docs:
    api_docs:
      - description: API documentation
  build: []
  cmake: []

dependencies:
  external_lib:
    git: https://github.com/Name/Repo.git
    version: 1.2.3
    branch: main  # Optional: specify a branch
    tag: v1.2.3  # Optional: specify a tag
    commit: abcdef1234567890abcdef1234567890abcdef12  # Optional: specify a commit hash

compiler:
  compiler_type: gcc  # Options: gcc, mingw, embedded
  compiler_path: /usr/bin/gcc  # Path to the compiler executable
  cxx_standard: 17  # C++ standard version
  flags:
    - -Wall
    - -Wextra
    - -Werror
  defines:
    - DEBUG
    - USE_CUSTOM_ALLOCATOR

cmake:
#  custom_cmake_path: "path/to/custom/CMakeLists.txt"
  build_type: Release  # Debug/Release/RelWithDebInfo
  options:
    CMAKE_EXPORT_COMPILE_COMMANDS: ON
    CMAKE_CONFIGURATION_TYPES: "Release;Debug"  # Для мультиконфигурационных генераторов
    CMAKE_MSVC_RUNTIME_LIBRARY: MultiThreaded  # Для статической линковки Runtime

    # Установка
    CMAKE_INSTALL_PREFIX: "C:\\Program Files\\MyCMakeProject"
    CMAKE_INSTALL_BINDIR: bin
    CMAKE_INSTALL_LIBDIR: lib

    # Тестирование
    BUILD_TESTING: ON
    GTest_DIR: "C:\\libs\\googletest\\lib\\cmake\\GTest"

    # Пакетирование
    CPACK_GENERATOR: "NSIS;ZIP"
    CPACK_NSIS_MODIFY_PATH: ON  # Добавить в PATH
    CPACK_PACKAGE_NAME: "${PROJECT_NAME}"

    # Windows-Specific
    CMAKE_SUPPRESS_REGENERATION: TRUE  # Игнорировать .rule файлы
    CMAKE_VS_PLATFORM_TOOLSET: "v143"  # Для Visual Studio 2022